<?xml version="1.0" encoding="utf-8" ?>
<BPSVExtend>


  <Extend on="UFIDA.U9.Cust.HBDY.API.SalesOrderSV.CreateApprovedSaleOrderSV"
		  extendType="U9.VOB.Cus.HBHDaYunsy.SVPlugin.DaYunsyDmsSV_Plugin,U9.VOB.Cus.HBHDaYunsy.SVPlugin.dll"/>

  <Extend on="UFIDA.U9.Cust.HBDY.API.ShipSV.CreateShipSV"
		  extendType="U9.VOB.Cus.HBHDaYunsy.SVPlugin.DaYunsyDmsSV_Plugin,U9.VOB.Cus.HBHDaYunsy.SVPlugin.dll"/>

  <Extend on="UFIDA.U9.Cust.HBDY.API.RMASV.CreateRMASV"
		  extendType="U9.VOB.Cus.HBHDaYunsy.SVPlugin.DaYunsyDmsSV_Plugin,U9.VOB.Cus.HBHDaYunsy.SVPlugin.dll"/>

  <Extend on="UFIDA.U9.Cust.HBDY.API.DipatchOutWhAPISV.DispatchOutWhCarSV"
		  extendType="U9.VOB.Cus.HBHDaYunsy.SVPlugin.DaYunsyDmsSV_Plugin,U9.VOB.Cus.HBHDaYunsy.SVPlugin.dll"/>

  <Extend on="UFIDA.U9.Cust.HBDY.API.TransferInSV.CreateApprovedTransferInSV"
		  extendType="U9.VOB.Cus.HBHDaYunsy.SVPlugin.DaYunsyDmsSV_Plugin,U9.VOB.Cus.HBHDaYunsy.SVPlugin.dll"/>
  
  
</BPSVExtend>