<?xml version="1.0" encoding="utf-8" ?>
<BPSVExtend>


  <Extend on="UFIDA.U9.Cust.HBDY.API.CreateApprovedSaleOrderSV"
		  extendType="U9.VOB.Cus.HBHDaYunsy.SVPlugin.DaYunsyDmsSV_Plugin,U9.VOB.Cus.HBHDaYunsy.SVPlugin.dll"/>

  <Extend on="UFIDA.U9.Cust.HBDY.API.CreateShipSV"
		  extendType="U9.VOB.Cus.HBHDaYunsy.SVPlugin.DaYunsyDmsSV_Plugin,U9.VOB.Cus.HBHDaYunsy.SVPlugin.dll"/>

  <Extend on="UFIDA.U9.Cust.HBDY.API.CreateRMASV"
		  extendType="U9.VOB.Cus.HBHDaYunsy.SVPlugin.DaYunsyDmsSV_Plugin,U9.VOB.Cus.HBHDaYunsy.SVPlugin.dll"/>

  <Extend on="UFIDA.U9.Cust.HBDY.API.DispatchOutWhCarSV"
		  extendType="U9.VOB.Cus.HBHDaYunsy.SVPlugin.DaYunsyDmsSV_Plugin,U9.VOB.Cus.HBHDaYunsy.SVPlugin.dll"/>

  <Extend on="UFIDA.U9.Cust.HBDY.API.CreateApprovedTransferInSV"
		  extendType="U9.VOB.Cus.HBHDaYunsy.SVPlugin.DaYunsyDmsSV_Plugin,U9.VOB.Cus.HBHDaYunsy.SVPlugin.dll"/>
  
  
</BPSVExtend>