<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>


    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHBHCommonSV" closeTimeout="00:01:00"
              openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
              allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
              maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
              messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
              useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
              maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>



    <behaviors>
      <serviceBehaviors>
        <behavior name="U9SrvTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>


      <service name="U9.VOB.HBHCommon.U9CommonSVStub" behaviorConfiguration="U9SrvTypeBehaviors">
        <endpoint contract="U9.VOB.HBHCommon.IU9CommonSV" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHBHCommonSV"/>
      </service>


      <service name="U9.VOB.HBHCommon.HBHCommonSVForJavaStub" behaviorConfiguration="U9SrvTypeBehaviors">
        <endpoint contract="U9.VOB.HBHCommon.IHBHCommonSVForJava" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHBHCommonSV"/>
      </service>

      <service name="UFIDA.U9.Cust.HBDY.API.CreateApprovedSaleOrderSVStub" behaviorConfiguration="U9SrvTypeBehaviors">
        <endpoint contract="UFIDA.U9.Cust.HBDY.API.ICreateApprovedSaleOrderSV" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHBHCommonSV"/>
      </service>


      <service name="UFIDA.U9.Cust.HBDY.API.CreateApprovedTransferInSVStub" behaviorConfiguration="U9SrvTypeBehaviors">
        <endpoint contract="UFIDA.U9.Cust.HBDY.API.ICreateApprovedTransferInSV" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHBHCommonSV"/>
      </service>


      <service name="UFIDA.U9.Cust.HBDY.API.CreateRMASVStub" behaviorConfiguration="U9SrvTypeBehaviors">
        <endpoint contract="UFIDA.U9.Cust.HBDY.API.ICreateRMASV" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHBHCommonSV"/>
      </service>


      <service name="UFIDA.U9.Cust.HBDY.API.CreateShipSVStub" behaviorConfiguration="U9SrvTypeBehaviors">
        <endpoint contract="UFIDA.U9.Cust.HBDY.API.ICreateShipSV" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHBHCommonSV"/>
      </service>


      <service name="UFIDA.U9.Cust.HBDY.API.DispatchOutWhCarSVStub" behaviorConfiguration="U9SrvTypeBehaviors">
        <endpoint contract="UFIDA.U9.Cust.HBDY.API.IDispatchOutWhCarSV" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHBHCommonSV"/>
      </service>

    </services>
  </system.serviceModel>
</configuration>