<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="U9.VOB.Cus.HBHDaYunsy.PlugInBE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <U9.VOB.Cus.HBHDaYunsy.PlugInBE.Properties.Settings>
            <setting name="U9_VOB_Cus_HBHDaYunsy_PlugInBE_DMS_PI06_PI06ImplService"
                serializeAs="String">
                <value>http://10.3.21.115:8080/hbfcdms/ws/PI06</value>
            </setting>
            <setting name="U9_VOB_Cus_HBHDaYunsy_PlugInBE_DMS_PI08_PI08ImplService"
                serializeAs="String">
                <value>http://10.3.21.115:8080/hbfcdms/ws/PI08</value>
            </setting>
            <setting name="U9_VOB_Cus_HBHDaYunsy_PlugInBE_DMS_SI02_SI02ImplService"
                serializeAs="String">
                <value>http://10.3.11.227:9081/dms/ws/SI02</value>
            </setting>
            <setting name="U9_VOB_Cus_HBHDaYunsy_PlugInBE_DMS_SI03_SI03ImplService"
                serializeAs="String">
                <value>http://10.3.11.227:9081/dms/ws/SI03</value>
            </setting>
            <setting name="U9_VOB_Cus_HBHDaYunsy_PlugInBE_DMS_SI04_SI04ImplService"
                serializeAs="String">
                <value>http://10.3.21.115:8080/hbfcdms/ws/SI04</value>
            </setting>
            <setting name="U9_VOB_Cus_HBHDaYunsy_PlugInBE_DMS_SI05_SI05ImplService"
                serializeAs="String">
                <value>http://10.3.11.227:9081/dms/ws/SI05</value>
            </setting>
            <setting name="U9_VOB_Cus_HBHDaYunsy_PlugInBE_DMS_SI08_SI08ImplService"
                serializeAs="String">
                <value>http://10.3.21.115:8080/hbfcdms/ws/SI08</value>
            </setting>
            <setting name="U9_VOB_Cus_HBHDaYunsy_PlugInBE_DMS_SI09_SI09ImplService"
                serializeAs="String">
                <value>http://10.3.11.227:9081/dms/ws/SI09</value>
            </setting>
            <setting name="U9_VOB_Cus_HBHDaYunsy_PlugInBE_DMS_SI11_SI11ImplService"
                serializeAs="String">
                <value>http://10.3.11.227:9081/dms/ws/SI11</value>
            </setting>
            <setting name="U9_VOB_Cus_HBHDaYunsy_PlugInBE_DMS_PI07_PI07ImplService"
                serializeAs="String">
                <value>http://10.3.21.115:8080/hbfcdms/ws/PI07</value>
            </setting>
            <setting name="U9_VOB_Cus_HBHDaYunsy_PlugInBE_DMS_SI01_SI01ImplService"
                serializeAs="String">
                <value>http://scisoft.eicp.net:9080/hbdyepc/ws/SI01</value>
            </setting>
            <setting name="U9_VOB_Cus_HBHDaYunsy_PlugInBE_DMS_PI09_PI09ImplService"
                serializeAs="String">
                <value>http://scisoft.eicp.net:9080/dms/ws/PI09</value>
            </setting>
        </U9.VOB.Cus.HBHDaYunsy.PlugInBE.Properties.Settings>
    </applicationSettings>
</configuration>