<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="U9.VOB.Cus.HBHDaYunsy.PlugInBE.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <U9.VOB.Cus.HBHDaYunsy.PlugInBE.Test.Properties.Settings>
            <setting name="U9_VOB_Cus_HBHDaYunsy_PlugInBE_Test_U9CommonSV_HBHCommonSVForJavaStub"
                serializeAs="String">
                <value>http://testserver/U9/hbhservices/U9.VOB.HBHCommon.IHBHCommonSVForJava.svc</value>
            </setting>
            <setting name="U9_VOB_Cus_HBHDaYunsy_PlugInBE_Test_DMS_PI06_PI06ImplService"
                serializeAs="String">
                <value>http://scisoft.eicp.net:9080/dms/ws/PI06</value>
            </setting>
        </U9.VOB.Cus.HBHDaYunsy.PlugInBE.Test.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PI06ImplServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://scisoft.eicp.net:9080/dms/ws/PI06"
                binding="basicHttpBinding" bindingConfiguration="PI06ImplServiceSoapBinding"
                contract="DMSAsync_PI06.PI06" name="PI06ImplPort" />
        </client>
    </system.serviceModel>
</configuration>