<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WebPartExtend" type="UFSoft.UBF.UI.Custom.ExtendedPartSection, UFSoft.UBF.UI.FormProcess" />
  </configSections>


  <WebPartExtend>

    <ExtendedPart parentPartFullName="UFIDA.U9.COST.CA.UserDefAllocRateUIModel.UserDefAllocRateMainUIFromWebPart" extendedPartFullName="U9.VOB.Cus.HBHDaYunsy.UIPlugIn.UserDefAllocRateUIPlugin" extendedPartAssemblyName="U9.VOB.Cus.HBHDaYunsy.UIPlugIn.dll">
  </ExtendedPart>

    <ExtendedPart parentPartFullName="ItemBListUIModel.ItemBListUIFormWebPart" extendedPartFullName="U9.VOB.Cus.HBHDaYunsy.UIPlugIn.ItemList_UIPlugin" extendedPartAssemblyName="U9.VOB.Cus.HBHDaYunsy.UIPlugIn.dll">
  </ExtendedPart>

    <ExtendedPart parentPartFullName="UFIDA.U9.SPR.SalePriceListBListUI.SalePriceListBListUIFormWebPart" extendedPartFullName="U9.VOB.Cus.HBHDaYunsy.UIPlugIn.SalePriceListBList_UIPlugin" extendedPartAssemblyName="U9.VOB.Cus.HBHDaYunsy.UIPlugIn.dll">
    </ExtendedPart>

  </WebPartExtend>
</configuration>