<?xml version="1.0" encoding="utf-8" ?>
<WebPartExtend>

  <ExtendedPart parentPartFullName="UFIDA.U9.COST.CA.UserDefAllocRateUIModel.UserDefAllocRateMainUIFromWebPart" extendedPartFullName="U9.VOB.Cus.HBHDaYunsy.UIPlugIn.UserDefAllocRateUIPlugin" extendedPartAssemblyName="U9.VOB.Cus.HBHDaYunsy.UIPlugIn.dll">
  </ExtendedPart>

</WebPartExtend>